<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./test.css" />
  <script src="./test.js"></script>
</head>
  <body>
    <audio
      id="background-music"
      loop
    >
      <source
        src="assets/Audio/19 Saving the Day_Award Ceremony_End Titles.mp3"
        type="audio/mpeg"
      />
      Your browser does not support the audio element.
    </audio>
    <button id="play-pause-button">
      <ion-icon
        class="audio-icon"
        id="play-music"
        name="play"
      ></ion-icon>
      <ion-icon
        class="audio-icon hidden"
        id="pause-music"
        name="pause"
      ></ion-icon>
    </button>

    <div
      id="particles-js"
      class="particles"
    ></div>

    <div class="container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://static.printler.com/cache/2/4/c/b/c/d/24cbcd37bd09944763de4a20e74a0954f6603bef.jpg"
            />
            <p>Superman</p>
          </div>
          <div class="swiper-slide">
            <img
              src="https://static.printler.com/cache/1/d/f/c/b/c/1dfcbcc2ad6b79aee980b7c8b62aa58d61f8e35f.jpg"
            />
            <p>Wonder Woman</p>
          </div>
          <div class="swiper-slide">
            <img
              src="https://static.printler.com/cache/d/e/f/c/2/0/defc20b88ceb44c0d60c4a4a28f01a00d242c46f.jpg"
            />
            <p>Batman</p>
          </div>
          <div class="swiper-slide">
            <img
              src="https://static.printler.com/cache/0/4/9/4/3/9/0494392a8e06037d523b66b0bf1f28fb23937e84.jpg"
            />
            <p>Flash</p>
          </div>
          <div class="swiper-slide">
            <img
              src="https://static.printler.com/cache/6/7/6/2/2/d/67622d0b766cb18a59e4ab785844ddc9a6853067.jpg"
            />
            <p>Joker</p>
          </div>
        </div>
      </div>
    </div>
    <div class="MDJAminDiv">
      <a
        class="MDJAmin"
        href="https://github.com/MDJAmin"
        target="_blank"
        >MDJAmin</a
      >
    </div>
    <div class="second-section">
      Hello
    </div>
  </body>

</html>