@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.horizontal-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.horizontal-wrapper {
  display: flex;
  width: max-content;
  height: 100%;
}

.hero-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  width: 100%;
}

.horizontal-section .swiper {
  width: 100%;
  padding: 50px 0;
}

.horizontal-section .swiper-slide {
  width: 200px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: 1s;
}

.horizontal-section .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.horizontal-section .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, rgba(130, 13, 13, 0.8), rgba(39, 8, 92, 0.8));
  mix-blend-mode: multiply;
}

.horizontal-section .swiper-slide p {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
}

.horizontal-section .swiper-slide-active {
  width: 350px;
}

.horizontal-section .swiper-slide-active img {
  transform: scale(1.3);
}

.horizontal-section .swiper-slide-active p {
  opacity: 1;
  transform: scale(1);
}

.MDJAminDiv {
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 999;
}

.MDJAmin {
  text-decoration: none;
  color: rgba(204, 204, 204, 0.6);
  font-family: monospace;
  border-bottom: 1px dashed;
  border-top: 1px dashed;
  padding: 4px 0;
  transition: 0.4s;
}

.MDJAmin:hover {
  color: white;
}