.footer {
  width: 100vw;
  height: 100%;
  /* min-height: 100svh; */
  padding: 4em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#footer-row-bottom {
  border-radius: 25px;
  overflow: hidden;
  margin-top: 2rem;
}

.footer-row-bottom-title {
  color: antiquewhite !important;
}

h1.footer-row-bottom-title {
  color: white !important;
  line-height: 0.85;
}

.footer-row:nth-child(1) {
  display: flex;
  justify-content: space-between;
  gap: 4em;
}

.footer-contact,
.footer-nav {
  flex: 1;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-nav-item {
  width: 50%;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed var(--fg);
}

.footer-nav-item:last-child {
  border-bottom: 1px dashed var(--fg);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.footer-contact p {
  margin-bottom: 0.5em;
}

.footer-header {
  width: 100%;
  padding: 1rem 1.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: black;
  mix-blend-mode: multiply;
  flex-wrap: nowrap;
  /* Force single line */
  gap: 1.5rem;
}

.footer-header h1 {
  position: relative;
  font-size: 14vw;
  margin: 0;
}

.footer-copyright-line {
  width: 100%;
  padding: 1rem 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px dashed var(--fg);
  background-color: black;
}

.footer-copyright-line p:nth-child(2) {
  text-align: right;
}

@media (max-width: 1000px) {
  .footer-row:nth-child(1) {
    flex-direction: column;
  }

  .footer-nav {
    align-items: flex-start;
  }

  .footer-nav-item {
    width: 100%;
  }

  .footer-header h1 {
    font-size: 11vw;
  }

  .footer-header {
    padding: 1.5rem 1.25rem;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .footer-copyright-line {
    padding: 1.5rem 1.25rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
  }

  .footer-copyright-line p:nth-child(2) {
    text-align: center;
  }

  .footer {
    padding: 4em 1.25em 1.25em 1.25em;
    gap: 2em;
  }
}